/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 90%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.message {
  background-color: yellow;
  border-color: gray;
  margin: 10px;
}

.marker_group1 {
  background-color: red;
  border: 3px solid red;
  border-radius: 10px;
  z-index: 100 !important;
}
.marker_group2 {
  background-color: yellow;
  border: 1px solid;
  border-radius: 10px;
  z-index: 101 !important;
}
